<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img src="assets/icons8-person-24.png" />
    </div>
  </div>
  <div class="chat-header">Obi-Wan Kenobi</div>
  <div class="chat-bubble">You were the Chosen One!</div>
</div>
<div class="chat chat-end">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img src="assets/icons8-person-24.png" />
    </div>
  </div>
  <div class="chat-header">
    Anakin
    <time class="text-xs opacity-50">12:46</time>
  </div>
  <div class="chat-bubble">I hate you!</div>
  <div class="chat-footer opacity-50">Seen at 12:46</div>
</div>
<router-outlet></router-outlet>
